Redirect 301 /assets/js/quiz.js /assets/js/quizv2.js
Redirect 301 /video/demo/video_demo.mp4 /video/demo.mp4
Redirect 301 /images/cancel.svg /images/icons/cancel.svg
Redirect 301 /images/favicon.ico /images/icons/favicon.ico
Redirect 301 /images/favicon.png /images/icons/favicon.png
Redirect 301 /images/profile-pic-cemre.jpg /images/profile-pics/cemre.jpg
Redirect 301 /images/profile-pic-patrick.jpg /images/profile-pics/patrick.jpg
Redirect 301 /images/profile-pic-stan.jpg /images/profile-pics/stan.jpg
Redirect 301 /images/profile-pic-micha.jpg /images/profile-pics/micha.jpg
Redirect 301 /images/hvc.jpg /images/menu/hvc.jpg
Redirect 301 /poorten-quiz.html /poorten-toets.html
Redirect 301 /images/server.jpg /images/poorten-introductie-top.jpg